{
  "home_id": "123456789",
  "rooms": {
    "bedroom": {
      "devices": {
        "1": { "name": "Ceiling Light", "supports_rgb": false, "supports_temperature": false },
        "2": { "name": "Bedside Lamp", "supports_rgb": true, "supports_temperature": true }
      },
      "aliases": ["bed"]
    },
    "bathroom": {
      "devices": {
        "3": { "name": "Bathroom Light", "supports_rgb": true, "supports_temperature": true }
      },
      "aliases": ["bath"]
    }
  }
}
